body  {
    background-color: #258373;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
header nav{
    display: flex;
    flex-direction: row;
    padding: 20px 0px
}
.container{
    max-width: 1700px;
    margin: auto;
}
article .container{
    background-color: #BD1F1D ;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 30px;
    width: 96%;
    height: 15vh;
      border: 2px solid  black;
    text-align: center;
     font-size: x-large;
     color: white;
}
section .container{
    background-color: #444343 ;
    margin-bottom: 10px;
     margin-left: 30px;
    width: 96%;
    height: 63vh;
    text-align: center;
    font-size: x-large;
    border: 2px solid  black;
    color: white;
}


.color {
    background-color: white;
    font-size: 1,5cm;    
}


/* Barra de busqueda*/
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 189px;
    text-decoration: none;
    border: 2px solid  black;

    font-size: x-large;

}

li a:hover {
    background-color: #111;
