@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #258373;
    font-family: 'Roboto Slab', serif;
}
header {
    padding-top: 5px;
    width: 100%;
    height: 60px;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


nav {
    margin: 0px;
    background-color: #225574;
    width: 100%;;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
section {
    margin-top: 15px;
    background-color: #689000;
    width: 100%;
    height: 400px;
}
p {
    font-size: 20px;
}
footer {
    margin-top: 10px;
    background-color: #336348;
    width: 100%;
    height: 30px;
}
.contenedor {
    width: 98%;
    margin: 0px auto;
    height: 50%;
}
button {
    margin: 5px;
    background-color: #258373;
    border-color: #FEB139;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 189px;
    text-decoration: none;
    border: 2px solid  black;

    font-size: x-large;

}

li a:hover {
    background-color: #111;
    

